@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.nav-bar {
    background-color: #44331D;
    color: #CEC8BA;
    display: flex;
    justify-content: space-around;
}

.left-align {
    display: flex;
    justify-content: space-evenly;
}

.right-align {
    display: flex;
}

.nav-link {
    margin: 0px;
    padding: 2px 5px;
    border: solid;
    border-color: black;
    border-width: 0px 1px;
}

.nav-link:hover {
    background-color: #644721;
    cursor: pointer;
}

.Banner {
    
    background-color: #825126;
    color: #5FA1A5;
    font-family: "Bangers";
    text-shadow: 3px 0 0 #3D2814, 0 3px 0 #3D2814, -3px 0 0 #3D2814, 0 -3px 0 #3D2814;
    margin: 0;
    padding: 15px;
    font-size: 5em;
}